/* here we are using rem and 1rem = 16px by default unless user changes it */ */

/* styles for Navbar */
.nav-ul{
  background-color: skyblue;
  margin: 0px;
  padding: 0.3125rem;
}
.nav-ul li{
  display:  inline-block;
  padding: 0.625rem;
}
.nav-ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.3125rem;
}
